body {
    background-image: linear-gradient(rgb(253, 153, 169),rgb(255, 118, 141));
    color: rgb(255, 255, 255);
}

.divspace {
    margin: 0 auto 50px;
    width: 80%;
}
.center {
    margin: auto;
    text-align: center;
}

.flex-horizontal {
    display: flex;
    justify-content: space-evenly;
}

.header {
    font-family: 'Merriweather', serif;
}

.content {
    font-family: 'Open Sans', sans-serif;
}

.polaroid {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    margin-bottom: 40px;
    /* border would be the last item to be listed */
    border: 3px solid white
}

.cluster {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    color: white;
}

ul {
    text-align: left;
    display: inline-block;
    /* list-style-type: none; */
    /* ref: https://perishablepress.com/css-center-align-list-left-align-text/ */
}
